{% extends "base.html" %}

{% block title %}Task Manager{% endblock %}

{% block content %}

<h1>Task History</h1>

<div class="btn-container">
    <a href="{{ url_for('home') }}">
        <button type="button" style="padding:10px">Active Tasks</button>
    </a>

    <a href="{{ url_for('history') }}">
        <button type="button" style="padding:10px">Task History</button>
    </a>
</div>

<!-- Today -->

<h2>Today:</h2>
<div class="task-container">

    {% for task in day_tasks %}
    <div class="sticky-note" data-id="{{ task[0]}}" data-start="{{ task[2] }}" data-end="{{ task[3] }}">

       <textarea>{{ task[1] or 'No description provided.' }}</textarea>

       {% if not task[4] %}
       <p style="text-align: center; width: 100%;">Done: {{ task[3].strftime("%m/%d/%y %I:%M %p") }}</p>
       {% else %}
       <p style="text-align: center; width: 100%;">Set Manually</p>
       {% endif %}

       <div class="btn-container" data-id="{{ task[0]}}">
           <button type="button" class="delete-btn" data-id="{{ task[0]}}">
               <!-- <img src="static/trash.png" alt="Save" style="width: 30px; height: 30px;"> -->
               🗑️
           </button>
       </div>
   </div>
   {% endfor %}
</div>
   
<!-- Older Tasks -->
<h2>Older Tasks:</h2>

<div class="task-container">

   {% for task in old_tasks %}
    <div class="sticky-note" data-id="{{ task[0]}}" data-start="{{ task[2] }}" data-end="{{ task[3] }}">

       <textarea>{{ task[1] or 'No description provided.' }}</textarea>

        <p style="text-align: center;">Done: {{ task[3].strftime("%m/%d/%y %I:%M %p") }}</p>

       <div class="btn-container" data-id="{{ task[0]}}">
           <button type="button" class="delete-btn" data-id="{{ task[0]}}">
               <!-- <img src="static/trash.png" alt="Save" style="width: 30px; height: 30px;"> -->
               🗑️
           </button>
       </div>

   </div>
   {% endfor %}
</div>

{% endblock %}