{% extends "base.html" %}

{% block title %}Task{% endblock %}

{% block content %}

    <h1>Active Tasks</h1>

    <div class="btn-container">
        <a href="{{ url_for('home') }}">
            <button type="button" style="padding:10px">Active Tasks</button>
        </a>

        <a href="{{ url_for('history') }}">
            <button type="button" style="padding:10px">Task History</button>
        </a>
    </div>

    <div class="task-container">

            {% for task in tasks if task[3] is none %}
            <div class="sticky-note" data-id="{{ task[0]}}" data-start="{{ task[2] }}">

            <textarea data-id="{{ task[0] }}" >{{ task[1] or 'No description provided.' }}</textarea>
            
            <p data-id="{{ task[0] }}" class="started" style="font-size: 12px; text-align: center; width: 100%;">
                {% if task[2] %}
                    Started On:
                <span contenteditable="true" data-id="{{ task[0] }}" >
                  {{ task[2].strftime("%I:%M %p") }}
                </span>
                {% endif %}
            </p>
            
            
            <div class="btn-container" data-id="{{ task[0]}}">
                <button type="button" class="delete-btn" data-id="{{ task[0]}}">
                    <!-- <img src="static/trash.png" alt="Save" style="width: 30px; height: 30px;"> -->
                    🗑️
                </button>

                {% if not task[2] %}
                <button type="button" class="begin-btn" data-id="{{ task[0]}}" data-type="begin">Track Task</button>
                {% else %}
                <button type="button" class="complete-btn" data-id="{{ task[0]}}" data-type="complete">Complete</button>
                <!-- <button type="button" class="pause-btn" data-id="{{ task[0]}}">Pause</button> -->
                {% endif %}
            </div>

            </div>
            {% endfor %}
            
            <!-- form container -->
            <div class="form-container sticky-note">
                <form>
                    <textarea id="text" name="text" placeholder="Type to add a task..." required></textarea>
                
                    <button type="button" id="save">Save</button>
                </form>
            </div>

    </div>

{% endblock %}